{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          "release/kindle-to-anki"
        ]
      }
    ]
  ],
  "preset": "conventionalcommits"
}
